<html>
    <head>
        <!--title image-->
        <link rel="apple-touch-icon" sizes="180x180" href="./static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./static/images/favicon-16x16.png">
        <link rel="manifest" href="./static/images/site.webmanifest">

        
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static\styles\main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="background">
            <div class="login_section">
                <img src="static\images\poll.jpg" class="image mobile-hide">
                    <!--Flass message-->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert alert-warning" role="alert">
                                {{ messages[0][1] }}
                            </div>

                        {% endif %}
                    {% endwith %}


                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>