@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');


.background_create_room{
    margin: 0;
    background: rgb(53,53,53);
    background: linear-gradient(114deg, rgba(53,53,53,1) 0%, rgba(11,11,11,1) 100%);
    height: 100%;
    width: 100%;
    font-family: 'montserrat';
}

/* alert msgs */
.alert{
    position: absolute;
    margin-left: 15%;
    width: 74%;
    text-align: center;
}

/* center area */
.center_block{
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    background-color: rgba(46, 46, 46, 0.85);
    border-radius: 15px 15px 15px 15px;
}

.create_room{
    color: #ffffff;
    position: absolute;
    margin-top: 5%;
    padding-top: 5%;
    margin-left: 10%;
    width: 30%;
    text-align: center;
}

.join_room{
    color: #ffffff;
    width: 30%;
    margin-left: 60%;
    margin-top: 5%;
    height: 80%;
    padding-top: 5%;
    text-align: center;
}

.text{
    font-size: 150%;
    margin-bottom: 4.5em;
}

.create_text{
    text-align: center;
}

.create_input{
    margin: 0 auto;
    display: block;
}

.btn-outline-light{
    height: 50px;
    width: 50%;
}

.create_button{
    margin: 0 auto;
    display: block !important;
    width: 30%;
}

.join_text{
    text-align: center;
}

.join_input{
    margin: 0 auto;
    display: block;
}

.join_button{
    margin: 0 auto;
    display: block !important;
    width: 30%;
}

@media only screen and (max-width: 875px){

    .background_create_room{
        height: 120%;
    }

    .center_block{
        margin-left: 7%;
        width: 86%;
        margin-top: 5em;
        padding-bottom: 1em;
        height: auto;
    }

    .alert{
        position: absolute;
        padding-top: 3em;
    }

    .create_room{
        position: relative;
        width: 100%;
    }

    .join_room{
        margin-top: 20%;
        position: relative;
        width: 100%;
        margin-left: 0;
        border-left: 0;
    }

    .create_room{
        margin-left: 5%;
        width: 90%;
    }
    
    .join_room{
        margin-left: 5%;
        width: 90%;
    }

}