@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');

body{
    margin:0;
}

.alert{
    position: absolute;
    margin-left: 60%;
    width: 30%;
    height: 8%;
    text-align: center;
}

.background{
    background: rgb(53,53,53);
    background: linear-gradient(114deg, rgba(53,53,53,1) 0%, rgba(11,11,11,1) 100%);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}

.login_section{
    margin-top: 4%;
    margin-left: 15%;
    background-color: rgb(255, 255, 255);
    height: 85.2%;
    width: 68%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.13);
}


.image {
    position: absolute;
    border-radius: 25px 2px 2px 25px;
    width: 30%
    
}

.heading{
    font-family: 'montserrat', sans-serif;
    font-size: 300%;
    margin-bottom: 1em;
}

.form {
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
    

}

.formError {
    list-style-type:none;
    padding:0px;
    color: red;
}

.btn {
    margin-top: 30px;
    width: 120px !important;
    height: 50px;
    margin-left: 0.5em;
    background-color:rgb(226, 109, 80) !important;
    font-family: 'montserrat';
    
    
}

input[type='text'], input[type='password'] {
   margin-bottom: 2.5em;
   width: 20em;
}

.hr{
    margin-top: 3em;
    margin-bottom: 3em;
}

.bottom_msg{
    font-family: 'montserrat';
    font-size: small;
}

.link {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 875px){
    .mobile-hide{
        display: none;
    }

    .alert{
        margin: auto;
        display: block;
        width: 90%;
        padding: 0 auto;
        margin-top: 5%;
    }

    .login_section{
        margin-top: 20%;
        margin-left: 5%;
        height: 80%;
        width: 90%;
    }

    .form{
        position: relative;
        margin-left: 0%;
        top: 14%;
    }

    .heading{
        position: relative;
        text-align: center;
    }

    input[type='text'], input[type='password'] {
        margin: auto;
        display: block;
        margin-bottom: 2.5em;
        width: 85%;
    }

    .btn{
        margin: auto;
        display: block !important;
    }

    .bottom_msg{
        text-align: center;
    }
}